{% include '_partials/_header.html' with {'title': 'Exercice #1'} %}

<section class="section">
    <div class="wrapper">
        <nav class="nav-social">
            <ul>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="icon icon--md">
                            <use xlink:href="#icon-twitch"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        

        

        

        
    </div>
</section>

{% include '_partials/_footer.html' %}
